@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/blue.css";
.listview {
  height: 100%;
}

.backButton {
  background-color: blue;
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.page_head {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.ar {
  font-size: 18px;
  text-align: center;
  margin-top: 10;
}
.head {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.info {
  text-align: center;
}
/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */
